/* Aqui importe la fuente Monserrat desde Google Fontts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;500;700&display=swap');

/* Aquí estoy resenteando los estilos predeterminados del navegador
Primero el margin y padding los puse en 0 para evitar espacios extras
el box-sizing lo puse para que el ancho-alto incluya el padding y el border
y por ultimo establecí la fuente general de la pagina que antes habia importado*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Este es el fondo general de la pagina
El degradado se lo doy con el "background para que pase de gris a violeta claro
y aquí use el FlexBox para centrar el contenido vertical y horizontalmente */

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2,
    #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}


/* Este el el contenedor principal, esta la caja blaca donde se muestan los formularios,
asi mismo los bordes redondeados y la sobra para que de el efecto de la tarjeta flotante
con el "overflow" oculto los elementos cuando se delizan
y fijo el ancho máximo para mantener el diseño centrado*/

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5 15px rgba(0,0,0,0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

/* Estos son los estilos de textos secundarios*/
.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

/* Este es el link de "Forget password?" (todavía no funciona)*/
.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

/* Estos son los borones de la página, primero el fondo de color morado, 
el texto blanco en mayúsculas los bordes redondeados y el efecto cursor que al pasar por encima
lo detecte*/

.container button{
    background-color: #1e40af;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

/* Estos son los botones "invisibles" del panel, transparentes con borde balnco
y sirven para cambiar entremlos 2 formularios */

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

/* Aquí estan los formulariose, se centran con "flexbox" y se alinean en columna*/

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}


/* Aquí se encuentran los campos de texto, el fondo gris claro, sin bordes visibles, con bordes
redondeadon. Se expanden al 100% */
.container input{
    background-color: #eee;
    border: none;
    padding: 10px 15px;
    margin: 8px 0;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

/* Este ess el contenedor de los formularios, se posiciona absoluto, eso para que el login y el
registro se "superpongan" y con esto después se moverán con animaciones*/
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

/* Formulario del login que es que se muestra por defecto en el inicio*/
.sign-in{
    left: 0;
    width: 50%;
    z-index: 2; /* Esto es para que quede por encima*/
}

/* Después si activo el "sing up", se muebe el login a la derecha*/
.container.active .sign-in{
    transform: translateX(100%);
}

/* Este es el formulario de REGISTRO que incialmente se muestra oculto */
.sign-up{
    left: 0;
    width: 50%;
    opacity: 0; /* Esto es para que se muestre invisible al inicio*/
    z-index: 1;
}

/* Cuando se activa el "SIng Up" se desliza a la derecha y se le da visibilidad por ultimo,
se pone al frente*/
.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s; /* Esta es la animación de aparición*/
}

/* Está es la animación de entrada del formulario de registro*/
@keyframes move {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%{
        opacity: 1;
        z-index: 5;
    }
}

/* Los iconos de las redes sociales*/
.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%; /* Con esto le doy efecto de botón*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 40px;
    width: 40px;
}

/* El panel toggle que es el fondo de color morado que cambia entre el login y el registro
Este ocupa la mitad derecha del contenedor y se mueve de un lafdo a ptrp con trasiciones */
.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

/* Cuando se activa el modo "Sing Up" el panel se desliza*/
.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px; /* Esto hace que cambie la CURVA hacia el otro lado*/
}

/* Aquí se encuentra el estilo visual del panel morado*/
.toggle{
    background-color: #1e40af;
    height: 100%;
    background: linear-gradient(to /* Aquí esta el degradado morado*/
    right, #60a5fa, #1e40af);
    color: #fff;
    position: relative;
    left: -100%; /* Lo que hace esto es que empieza fuera de la vista*/
    height: 100%;
    width: 200%; /* Ocupa más ancho para poder deslizarse*/
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

/* Este es el movimiento del panel al cambiar a registrarse*/
.container.active .toggle{
    transform: translateX(50%);
}

/* Este el panel interior del toggle que contiene los mensajes de "Welcome Back" y "Hello Firend"
Se centra con el FlexBox*/
.toggle-panel{
    position: absolute;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

/* Aquí se encuentra el panel izquierdo (cuando toca volver al login)*/
.toggle-left{
    transform: translateX(-200%); /* Esto hace que al inicio se oculte fuera de la pantalla*/
}

/* Cuando está activo, se muestra el panel izquierdo */
.container.active .toggle-left{
    transform: translateX(0); 
}

/* Este es el panel derecho (cuando toca registrarse)*/
.toogle-right{
    right: 0;
    transform: translateX(0); /* Y está visible por defecto*/
}
/* Caundo está activo, se oculta el panel derecho*/
.container.active .toggle-right{
    transform: translateX(200%);
}
